.root {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;
}

.logo {
  font-size: 18px;
  color: #fff;
  user-select: none;
}

.content {
  padding: 24px;
  overflow: auto;
}
